html, body{
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.301);
    display: grid;
    justify-content: center;
    user-select: none;

}

#container{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
}

#sign-up{
    width: 230px;
}

#home-page{
    width: 55%;
    margin: auto;
    
}

ul{
    list-style-type: none;
    padding: 0;
}

#list-icon{
    padding-right: 10px;
}

li{
    font-weight: bolder;
}

#news{
    font-size: 50px;
    padding: 0;
    margin: 0;
}

label{
    font-size: 13px;
    font-weight: bolder;
}

input