html, body{
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.301);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#container{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
}

#sign-up{
    width: 200px;
    
}

#home-page{
    width: 60%;
}