html, body{
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.301);
    display: flex;
    justify-content: center;
}

#container{
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 15px;
}

#sign-up{
    width: 230px;
    
}

#home-page{
    width: 55%;
    margin: auto;
    flex: ;
}

ul{
    list-style-type: none;
    padding: 0;
}

#list-icon{
    padding-right: 10px;
}

li{
    t
}