html, body{
    padding: 0;
    margin: 0;
    background-color: hsl(234, 29%, 20%);
    display: grid;
    justify-content: center;
    user-select: none;
    grid-template-rows: 1fr 2fr 1fr, max-content;
}

#container{
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    grid-row: 2/3;
    border-radius: 15px;
}

#sign-up{
    width: 230px;
}

#home-page{
    width: 55%;
    margin: auto;
    
}

ul{
    list-style-type: none;
    padding: 0;
}

#list-icon{
    padding-right: 10px;
}



#news{
    font-size: 50px;
    padding: 0;
    margin: 0;
}

label{
    font-size: 13px;
    font-weight: bolder;
}

input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-bottom: 10px;
    border-color: hsl(0, 81%, 45%);
}

button{
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    color: white;
    font-weight: bolder;
    background-color: hsl(235, 18%, 26%);
}