html, body{
    padding: 0;
    margin: 0;
    background-color: rgba(0, 0, 0, 0.301);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    j
}

#full-content{
   background-color: wj;
   display: flex;

}

#sign-up{
    width: 200px;
}
